<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href= "https://www.w3schools.com/w3css/4/w3.css"></link>
    <title>search for games</title>
</head>
<body>
    <h1>Search for Games</h1>
    <form action="/search" method="post" class="w3-container w3-card-4 w3-padding">
      <label for="artist">Game name:</label>
      <input type="text" name="artist" class="w3-input w3-border" required>
      <button type="submit" class="w3-input w3-border">Search</button>
    </form>
  </body>
</html>